<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/approved.scss" />
<div class="container">
  <h1>Choose your starter!</h1>
  <div class="pokeball"></div>
  <div class="pokeball"></div>
  <div class="pokeball"></div>
</div>
